.section__our-company {
    display: flex;
    justify-content: space-between;
}

.section__left-box {
    position: relative;
}

.left-box__image {
    margin: 10px;
    transition: transform 0.3s linear;
}

.left-box__image:hover {
    box-shadow: 0px 0px 5px 0px var(--light-blue);
    transform: scale(1.15);
    z-index: 1;
}

.left-box__image-circle {
    position: absolute;
    top: 113px;
    left: 218px;
}

.left-box__text {
    position: absolute;
    top: 252px;
    left: 284px;
    font-weight: 500;
    font-size: 16px;
    color: var(--blue);
}

#ok {
    position: absolute;
    top: 171px;
    left: 299px;
}

.button-link__wrapper {
    margin-top: 54px;
}

.button-link {
    margin-top: 54px;
    padding: 22px 40px 23px 41px;
    font-weight: 500;
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
    background: linear-gradient(104.58deg, #056088 10.57%, #09a7ca 96.62%);
    transition: color 0.3s linear;
}

.button-link:hover {
    color: var(--light-blue);
}

.section__our-company-results {
    display: flex;
    justify-content: space-between;
}

/* Our services*/

.section__block {
    width: 310px;
    height: 240px;
    transform: scale(1);
    transition: transform 0.5s linear;
}

.section__block:hover {
    background: url(../../../images/our\ services/ourservices.jpg);
    transform: scale(1.2);
}

.icon {
    width: 42px;
    height: 42px;
    fill: var(--grey);
}

.section__block-item1 {
    padding: 27px 0 0 47px;
}

.section__block-item2 {
    padding: 23px 0 0 40px;
}

.section__block-item3 {
    padding: 16px 0 0 40px;
}

.section__block:hover .icon {
    fill: var(--white);
}

.section__block:hover .title-small--grey {
    color: var(--white);
}

.section__block:hover .text-small {
    color: var(--white);
}

/*our benefits*/

.section__our-benefits{
    display: flex;
    justify-content: space-between;
    transform: translateY(75px);
   
}



.section__box1 {
   
    text-align: center;
    width: 100%;
    max-width: 420px;
    height: 313px;
    background: url(../../../images/Our\ benefits/picture_ourbenefits.jpg);
    background-repeat: no-repeat;
    transition: box-shadow 0.3s linear;
    transition: transform 0.3s linear;
}

.section__box1:hover {
    box-shadow: 0px 0px 50px 1px var(--light-blue);
    transform: scale(1.03);
}

.section__box2 {
    
    text-align: center;
    width: 100%;
    max-width: 420px;
    height: 313px;
    background: url(../../../images/Our\ benefits/picture_ourbenefits2.jpg);
    background-repeat: no-repeat;
    transition: box-shadow 0.3s linear;
    transition: transform 0.3s linear;
}

.section__box2:hover {
    box-shadow: 0px 0px 50px 1px var(--light-blue);
    transform: scale(1.03);
}

.section__box3 {
    
    text-align: center;
    width: 100%;
    max-width: 420px;
    height: 313px;
    background: url(../../../images/Our\ benefits/picture_ourbenefits3.jpg);
    background-repeat: no-repeat;
    transition: box-shadow 0.3s linear;
    transition: transform 0.3s linear;
}

.section__box3:hover {
    box-shadow: 0px 0px 50px 1px var(--light-blue);
    transform: scale(1.03);
}

.circle-ourbenefits {
    margin-top: 54px;
}

.item1 {
    margin-top: 34px;
}

.item2 {
    margin-top: 16px;
}

.section__our-benefits--tablet {
    display: none;
}

/*our works*/

.section__our-works {
    height: 1414px;
    background: url(../../../images/our\ works/bg.jpg);
    background-size: cover;
}
.section__our-works--tablet {
    display: none;
}

.wrapper__our-works {
    padding-top: 150px;
}

.content__our-works {
    width: 100%;
    max-width: 1300px;
  
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    margin-bottom: 54px;
}

.content__our-works-picture {
    padding: 10px;
    transition: 0.3s linear;
}

.content__our-works-picture:hover {
    box-shadow: 0px 0px 15px 6px var(--light-blue);
    transform: scale(1.15);
}

.section__form {
    text-align: right;
    margin-bottom: 110px;
}

.section__input {
    margin-left: 200px;
    margin-right: 39.5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--light-blue);
    width: 714.5px;
    outline: none;
    background: transparent;
}

.section__button {
    padding: 22px 40px 23px 41px;
    background: linear-gradient(104.58deg, #056088 10.57%, #09a7ca 96.62%);
    border: none;
    transition: transform 0.3s linear;
    color: var(--white);
}

.section__button:hover {
    transform: scale(1.1);
}

.container__reviews {
    padding: 51px 0px 50px 33px;
    width: 300px;
    height: 320px;
    background: #fff;
}

.reviews-image {
    border-left: 1px solid #fff;
    padding-left: 24px;
    background: #fff;
}

.section__container-reviews {
    position: absolute;
    top: -213px;
    right: 5px;
    padding: 59px 24px 29px 50px;
    width: 416px;
    height: 266px;
    background: var(--blue);
}

.image-roberto {
    position: absolute;
    top: -250px;
    right: 360px;
}

/* Our partners*/

.section__video--tablet {
    display: none;
}

.section__nav {
    margin-top: 185px;
    align-content: center;
}

.nav__image {
    transform: scale(1);
    transition: transform 0.3s linear;
}

.nav__image:hover {
    transform: scale(1.1);
}

.section__video {
    text-align: center;
    position: relative;
    margin-top: 100px;
}

.section__video-post {
    position: absolute;
    text-align: left;
    bottom: -20px;
    right: 110px;
    width: 416px;
    height: 129px;
    padding: 32px 67px 39px 53px;
    background: var(--blue);
}

.section__video-post--active {
    display: none;
}

.section__our-works-secondary-block--tablet {
    display: none;
}

/* Our-news*/

.section__our-news {
    margin-top: 100px;
    height: 428px;
    background: url(../../../images/our\ news/BG.jpg);
}

.title-indent {
    padding-top: 55px;
}

.form__input {
    outline: none;
  width: 100%;
   max-width: 640px;
    height: 62px;
}

.form__input::placeholder {
    padding-left: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 27.2px;
    color: rgba(0, 0, 0, 0.4);
}

.form__button {
    margin: 0;
    width: 138px;
    height: 62px;
    padding: 17px 40px 18px 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 27.2px;
    color: var(--white);
    border: none;
    background: linear-gradient(104.58deg, #056088 10.57%, #09a7ca 96.62%);
    transition: transform 0.3s linear;
}

.form__button:hover {
    transform: scale(1.1);
}
@media screen and (max-width: 900px) {
    .section__our-company {
        display: flex;
        flex-wrap: wrap;
    }
    

}



@media screen and (max-width: 768px) {
    .section__container {
        width: 100%;
        max-width: 768px;
    }

    .section__left-box {
        margin-left: 45px;
    }
    .section__our-company-title {
        text-align: center;
    }

    .section__our-company {
        display: block;
    }
    .section__our-company-text {
        text-align: center;
    }

    .section__our-company-results {
        display: flex;
        justify-content: space-evenly;
    }
    .button-link__wrapper {
        text-align: center;
    }
    .section__block:hover {
        transform: none;
    }

    .section__box1 {
        width: 210px;
        height: 315px;
        position: static;
    }
    .section__box2 {
        width: 210px;
        height: 315px;
        position: static;
    }
    .section__box3 {
        width: 210px;
        height: 315px;
        position: static;
    }

    .section__our-benefits {
        display: none;
    }

    .section__our-benefits--tablet {
        display: flex;
        justify-content: space-evenly;
    }

    .title-middle--tablet {
       padding-top: 100px;
    }
    .wrapper__our-benefits {
        margin-bottom: 30px;
    }

    .section__our-works {
        display: none;
    }
    .section__our-works--tablet {
        display: block;
    }

    .content__our-works--tablet {
        padding-top: 16px;
        margin: 0 auto;
        width: 500px;
        height: 1000px;
    }

    .content__our-works-picture--tablet {
        padding-bottom: 10px;
        width: 500px;
        height: 300px;
    }

    .wrapper__our-works {
        padding-top: 50px;
    }
    .section__our-works-secondary-block {
        display: none;
    }
    .section__our-works-secondary-block--tablet {
        display: block;
    }
    .section__container-reviews {
        top: -286px;
        right: 0px;
    }
    .image-roberto {
        top: -310px;
        right: 360px;
    }

    .nav__image {
        width: 115px;
        height: 30px;
    }
    .section__nav {
        margin-top: 100px;
    }
    .section__video--tablet {
        display: block;
    }
    .section__video {
        display: none;
    }
    .title {
        font-size: 33px;
        line-height: 40px;
    }
    .form__input {
        width: 365px;
    }
    .section__our-news {
        height: 350px;
    }
    
}
