.section__left-box-wrapper {
    display: flex;
}

.section__our-company {
    display: flex;
    justify-content: space-between;
}

.section__left-box {
    position: relative;
}

.left-box__image {
    margin: 10px;
    transition: transform 0.3s linear;
}

.left-box__image:hover {
    box-shadow: 0px 0px 5px 0px var(--light-blue);
    transform: scale(1.15);
    z-index: 1;
}

.left-box__image-circle {
    position: absolute;
    top: 113px;
    left: 218px;
}

.left-box__text {
    position: absolute;
    top: 252px;
    left: 284px;
    font-weight: 500;
    font-size: 16px;
    color: var(--blue);
}

#ok {
    position: absolute;
    top: 171px;
    left: 299px;
}

.button-link__wrapper {
    margin-top: 54px;
}

.button-link {
    margin-top: 54px;
    padding: 22px 40px 23px 41px;
    font-weight: 500;
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
    background: linear-gradient(104.58deg, #056088 10.57%, #09a7ca 96.62%);
    transition: color 0.3s linear;
}

.button-link:hover {
    color: var(--light-blue);
}

.section__our-company-results {
    display: flex;
    justify-content: space-between;
}

/* Our services*/

.section__our-services-content {
    display: flex;
    justify-content: space-between;
}

.section__block {
    width: 310px;
    height: 240px;
    transform: scale(1);
    transition: transform 0.5s linear;
    cursor: pointer;
}

.section__block:hover {
    background: url(../../../images/our\ services/ourservices.jpg);
    transform: scale(1.2);
}

.icon {
    width: 42px;
    height: 42px;
    fill: var(--grey);
}

.section__block-item1 {
    padding: 27px 0 0 47px;
}

.section__block-item2 {
    padding: 23px 0 0 40px;
}

.section__block-item3 {
    padding: 16px 0 0 40px;
}

.section__block:hover .icon {
    fill: var(--white);
}

.section__block:hover .title-small--grey {
    color: var(--white);
}

.section__block:hover .text-small {
    color: var(--white);
}

/*our benefits*/

.section__our-benefits {
    display: flex;
    justify-content: space-between;
    transform: translateY(75px);
}

.section__box1 {
    text-align: center;
    width: 100%;
    max-width: 420px;
    height: 313px;
    background: url(../../../images/Our\ benefits/picture_ourbenefits.jpg);
    background-repeat: no-repeat;
    transition: box-shadow 0.3s linear;
    transition: transform 0.3s linear;
    cursor: pointer;
}

.section__box1:hover {
    box-shadow: 0px 0px 50px 1px var(--light-blue);
    transform: scale(1.03);
}

.section__box2 {
    text-align: center;
    width: 100%;
    max-width: 420px;
    height: 313px;
    background: url(../../../images/Our\ benefits/picture_ourbenefits2.jpg);
    background-repeat: no-repeat;
    transition: box-shadow 0.3s linear;
    transition: transform 0.3s linear;
    cursor: pointer;
}

.section__box2:hover {
    box-shadow: 0px 0px 50px 1px var(--light-blue);
    transform: scale(1.03);
}

.section__box3 {
    text-align: center;
    width: 100%;
    max-width: 420px;
    height: 313px;
    background: url(../../../images/Our\ benefits/picture_ourbenefits3.jpg);
    background-repeat: no-repeat;
    transition: box-shadow 0.3s linear;
    transition: transform 0.3s linear;
    cursor: pointer;
}

.section__box3:hover {
    box-shadow: 0px 0px 50px 1px var(--light-blue);
    transform: scale(1.03);
}

.circle-ourbenefits {
    margin-top: 54px;
}

.item1 {
    margin-top: 34px;
}

.item2 {
    margin-top: 16px;
}

.section__our-benefits--tablet {
    display: none;
}

/*our works*/

.section__our-works {
    height: 1414px;
    background: url(../../../images/our_works/bg.jpg);
    background-size: cover;
}
.section__our-works--tablet {
    display: none;
}

.wrapper__our-works {
    padding-top: 150px;
}

.content__our-works {
    width: 100%;
    max-width: 1300px;

    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    margin-bottom: 54px;
}

.content__our-works-picture {
    padding: 10px;
    transition: 0.3s linear;
    display: inline-block;
    cursor: pointer;
}

.content__our-works-picture:hover {
    box-shadow: 0px 0px 15px 6px var(--light-blue);
    transform: scale(1.15);
}

.section__form {
    text-align: right;
    margin-bottom: 110px;
}

.section__input {
    margin-right: 39.5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--light-blue);
    width: 100%;
    max-width: 714.5px;
    outline: none;
    background: transparent;
}

.section__button {
    padding: 22px 40px 23px 41px;
    background: linear-gradient(104.58deg, #056088 10.57%, #09a7ca 96.62%);
    border: none;
    transition: transform 0.3s linear;
    color: var(--white);
    cursor: pointer;
}

.section__button:hover {
    transform: scale(1.1);
}

.container__reviews-wrapper {
    display: flex;
}

.container__reviews {
    padding: 51px 0px 50px 33px;
    min-width: 260px;
    height: 320px;
    background: #fff;
}

.reviews-image {
    border-left: 1px solid #fff;
    padding-left: 24px;
    background: #fff;
}

.reviews-image-img {
    max-width: 100%;
    min-height: 316px;
    max-height: 378px;
}

.section__container-reviews {
    position: absolute;
    top: -213px;
    right: 5px;
    padding: 59px 24px 29px 50px;
    width: 100%;
    max-width: 416px;
    height: 266px;
    background: var(--blue);
}

.image-roberto {
    position: absolute;
    top: -250px;
    right: 360px;
}

/* Our partners*/

.section__nav {
    margin-top: 185px;
    align-content: center;
}

.nav__image {
    transform: scale(1);
    transition: transform 0.3s linear;
}

.nav__image:hover {
    transform: scale(1.1);
}

.section__video-content {
    text-align: center;
    position: relative;
    margin-top: 100px;
}

.section__video {
    width: 100%;
    max-width: 1080px;
}

.section__video-post {
    position: absolute;
    text-align: left;
    bottom: -20px;
    right: 110px;
    width: 416px;
    height: 129px;
    padding: 32px 67px 39px 53px;
    background: var(--blue);
}
.section__video-post--active {
    display: none;
}

/* Our-news*/

.section__our-news {
    margin-top: 100px;
    height: 428px;
    background: url(../../../images/our\ news/BG.jpg);
}

.title-indent {
    padding-top: 55px;
}

.form__input {
    outline: none;
    width: 100%;
    max-width: 640px;
    height: 62px;
}

.form__input::placeholder {
    padding-left: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 27.2px;
    color: rgba(0, 0, 0, 0.4);
}

.form__button {
    margin: 0;
    width: 138px;
    height: 62px;
    padding: 17px 40px 18px 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 27.2px;
    color: var(--white);
    border: none;
    background: linear-gradient(104.58deg, #056088 10.57%, #09a7ca 96.62%);
    transition: transform 0.3s linear;
    cursor: pointer;
}

.form__button:hover {
    transform: scale(1.1);
}
@media screen and (max-width: 1350px) {
    .content__our-works {
        max-width: 1015px;
    }
}
@media screen and (max-width: 1060px) {
    .content__our-works {
        max-width: 788px;
    }
    .reviews-image {
        display: none;
    }
    .container__reviews-wrapper {
        justify-content: center;
        text-align: center;
    }

    .container__reviews {
        padding: 51px 110px 50px 110px;
    }

    .section__container-reviews {
        max-width: 690px;
        position: static;
        margin: 0 auto;
        padding: 40px;
        text-align: center;
    }
    .image-roberto {
        display: none;
    }
    .section__container-reviews .text-small--white-italic {
        font-size: 25px;
    }
}
@media screen and (max-width: 900px) {
    .section__left-box {
        margin: 0 auto;
        margin-top: 60px;
    }

    .section__our-company {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .section__right-box {
        margin: 0 auto;
    }
    .section__right-box .button-link__wrapper {
        text-align: center;
    }
    .section__our-benefits {
        display: block;
        transform: none;
    }

    .section__box1 {
        margin: 20px auto 20px auto;
        width: 100%;
        max-width: 702px;
        height: 315px;
        background-size: cover;
    }
    .section__box2 {
        margin: 20px auto 20px auto;
        width: 100%;
        max-width: 702px;
        height: 315px;
        background-size: cover;
    }
    .section__box3 {
        margin: 20px auto 20px auto;
        width: 100%;
        max-width: 702px;
        height: 315px;
        background-size: cover;
    }
    .wrapper__our-works {
        padding-top: 50px;
    }

    .section__our-company-text {
        text-align: center;
    }

    .section__our-company-results {
        display: flex;
        justify-content: space-evenly;
    }
    .section__our-company-title {
        text-align: center;
    }

    .section__our-services-content {
        display: block;
    }

    .section__block {
        margin: 20px auto 20px auto;
        width: 100%;
        max-width: 702px;
        height: 240px;
        text-align: center;
        background: var(--light-blue);
    }
}
@media screen and (max-width: 805px) {
    .content__our-works {
        text-align: center;
        max-width: 520px;
    }
    .content__our-works-box3 {
        display: none;
    }
}

@media screen and (max-width: 772px) {
    .section__container {
        width: 100%;
        max-width: 768px;
    }

    .button-link__wrapper {
        text-align: center;
    }
    .section__block:hover {
        transform: none;
    }

    .wrapper__our-benefits {
        margin-bottom: 30px;
    }

    .section__form {
        text-align: center;
    }
    .section__input {
        display: inline-block;
        margin: 0 auto;
        width: 100%;
        max-width: 280px;
    }

    .content__our-works-picture {
        width: 100%;
        padding-bottom: 10px;
        max-width: 500px;
    }

    .wrapper__our-works {
        padding-top: 50px;
    }

    .section__container-reviews {
        top: -286px;
        right: 0px;
    }
    .image-roberto {
        top: -310px;
        right: 360px;
    }

    .nav__image {
        width: 100%;
        max-width: 115px;
        height: 30px;
        padding-left: 5px;
    }
    .section__nav {
        margin-top: 100px;
    }

    .title {
        font-size: 33px;
        line-height: 40px;
    }
    .form__input {
        width: 365px;
    }
    .section__our-news {
        height: 350px;
    }

    .section__video-post {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .left-box__image-circle,
    .left-box__text,
    #ok {
        display: none;
    }

    .container__reviews-wrapper {
        display: block;
        flex-wrap: wrap;
    }
    .container__reviews {
        text-align: center;
    }

    .section__our-partners {
        margin-top: 300px;
    }
}
@media screen and (max-width: 600px) {
    br {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .content__our-works {
        text-align: center;
        max-width: 520px;
    }
    .content__our-works-box1 {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .section__block-item1,
    .section__block-item2,
    .section__block-item3 {
        padding: 27px 0 0 0;
    }

    .image-roberto,
    .reviews-image-img {
        display: none;
    }
    .section__container-reviews {
        position: static;
        margin: 0 auto;
    }
    .section__form {
        margin-bottom: 50px;
    }
    .title-middle {
        font-size: 20px;
        line-height: 30px;
    }
    .nav__image {
        max-width: 72px;
        height: 26px;
    }
    .footer,
    .section__our-partners,
    .section__our-news,
    .section__wrapper {
        margin-top: 40px;
    }
    .section__container-reviews .text-small--white-italic {
        font-size: 20px;
    }
    .container__reviews {
        padding: 51px 0px 50px 0px;
    }
}
@media screen and (max-width: 420px) {
    .text-small--white-italic {
        font-size: 15px;
        line-height: 20px;
    }

    .section__container-reviews {
        padding: 14px 24px 29px 50px;
    }

    .title {
        font-size: 25px;
        line-height: 30px;
    }
    br {
        display: none;
    }

    .form__input {
        width: 180px;
    }
    .form__button {
        width: 99px;
        height: 62px;
        padding: 0;
    }
}

@media screen and (max-width: 320px) {
    .title-middle {
        font-size: 16px;
        line-height: 16px;
    }
    .nav__image {
        max-width: 102px;
        height: 21px;
    }
    .section__nav {
        margin: 0;
    }
    .section__video-content {
        margin: 20px 0 0 0;
    }
    .container__reviews {
        height: 250px;
    }

    .section__block-item1,
    .section__block-item2,
    .section__block-item3 {
        padding: 10px 3px 0 3px;
        text-align: center;
    }
    .section__our-works {
        height: 1255px;
    }
}
