.footer {
    display: grid;
    grid-template-rows: 380px 89px;
    background-color: var(--dark-blue);
    margin-top: 100px;
    height: 469px;
}

.footer__nav {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.footer__logo {
    padding-top: 60px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 66px;
    line-height: 77px;
    color: var(--white);
    transition: color 0.3s linear;
}

.footer__logo:hover {
    color: var(--light-blue);
}

address {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    padding: 16px 0 54px 0;
}

.nav__menu-title {
    padding: 78px 0 32px 0;
    font-weight: 700;
    font-size: 24px;
    color: var(--white);
    line-height: 24px;
    transition: color 0.3s linear;
}

.nav__menu-item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    transition: color 0.3s linear;
    padding-top: 16px;
}

.nav__menu-title:hover {
    color: var(--light-blue);
}

.nav__menu-item:hover {
    color: var(--light-blue);
}

.footer__copyright {
    background: #fff;
    text-align: center;
    padding-top: 32px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 27.2px;
    color: var(--grey);
}

@media screen and (max-width: 768px) {
    .footer__nav {
        width: 100%;
        max-width: 735px;
    }
}

@media screen and (max-width: 700px) {
    .footer__nav-block {
        display: none;
    }
    .flex-container {
        justify-content: space-around;
    }
}

@media screen and (max-width: 700px) {
    .footer {
        grid-template-rows: 198px 90px;
        height: 280px;
    }

    .nav__menu-title {
        font-size: 18px;
        padding: 24px 0 12px 0;
    }
    .nav__menu-item {
        font-size: 13px;
        line-height: 12px;
    }
}

@media screen and (max-width: 320px) {
    .footer,
    .section__our-partners,
    .section__our-news,
    .section__wrapper {
        margin-top: 40px;
    }
   
}
