.header--home {
    height: 703px;
    background-image: url("../../images/home_main_picture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
    transition:background-image 0.7s ;
}

.header{
    height: 490px;
    background-image: url("../../images/page_About/header/header_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
    transition:background-image 0.7s ;
    
}




.header__nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.header__hamburger{
    display: none;
    cursor: pointer;
}


.header__nav-mobile{
   padding-top: 50px;
    position: fixed;
    top: 0;
    bottom: 0;
    transform: translateX(-150px);
    background: var(--light-blue);
    width: 150px;
    text-align: center;
    z-index: 101;
    transition: transform 0.8s;
}

.header__nav-mobile--active{
    transform: translateX(0);
}


.nav__link--header-mobile{
    color: var(--white);
    font-size: 25px;
    line-height: 50px;
    
}

a{
    text-decoration: none;
}

.nav__link--header-home {
    margin-left: 40px;
    font-weight: 500;
    font-size: 16px;
    color: var(--dark-blue);
    transition: color 0.3s linear;  
}
.nav__link--header{
    margin-left: 40px;
    font-weight: 500;
    font-size: 16px;
    color: var(--white);
    transition: color 0.3s linear;  
}
.nav__link--header:hover{
    color: var(--light-blue);
    border-bottom: 2px solid var(--light-blue) ;
}


.nav__link {
    font-weight: 500;
    font-size: 16px;
    color: var(--dark-blue);
    transition: color 0.3s linear;
}

.nav__link:hover {
    color: var(--light-blue);
}
.nav__link--header-home:hover {
    color: var(--light-blue);
    border-bottom: 2px solid var(--light-blue) ;
}

.header__nav-menu--home {
    padding: 29px 70px 28px 8px;
    background: var(--white);
}

.header__nav-menu{
    padding: 29px 70px 28px 8px;
}
.header__humburger{
    display: none;
}

.header__logo {
    font-family: 'Roboto';
    text-decoration: none;
    color: var(--dark-blue);
    margin-left: 82px;
    font-size: 66px;
    font-weight: 700;
    transition: color 0.3s linear;
}

.header__logo:hover {
    color: var(--light-blue);
}

.title--home {
    color: var(--blue);
    font-weight: 700;
    font-size: 52px;
    line-height: 78px;
}

.title {
    font-weight: 700;
    font-size: 52px;
    line-height: 78px;
    color: var(--white);
}

.header__subtitle {
    color: var(--grey);
    font-weight: 500;
    font-size: 16px;
    line-height: 27.2px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.header__wrapper--home {
    display: inline-block;
    margin-top: 75px;
    padding: 53px 93px 48px 82px;
    background: var(--white);
}

.header__wrapper{
    margin-top: 100px;
    text-align: center;
}



.header__button{
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    border: none;
    padding: 22px 40px 23px 40px;
    cursor: pointer;
    background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
    transition: transform 0.3s linear;
}
.header__button:hover{
transform: scale(1.1);

}

.header__input{
    margin-left: 17px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid var(--light-blue);
    width: 100%;
    max-width: 319.5px;
    outline:none;
}

.nav__link--header-home-active{
    margin-left: 40px;
    font-weight: 500;
    font-size: 16px;
    color: var(--light-blue);
    transition: color 0.3s linear;  
}

.nav__link--header-home-active:hover {
    color: var(--light-blue);
    border-bottom: 2px solid var(--light-blue) ;
}


.nav__link--header-active{
    margin-left: 40px;
    font-weight: 500;
font-size: 16px;
line-height: 24px;
color: var(--light-blue);
transition: color 0.3s linear;  
}


.nav__link--header-active:hover{
    color: var(--light-blue);
    border-bottom: 2px solid var(--light-blue) ;
}



@media screen and (max-width: 768px){
    .header--home {
        height: 440px;
        background-image: url("../../images/home_main_picture.jpg");
        margin-bottom: 100px;
    }

.title--home {
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
}


.header__logo {
    margin-left: 30px;
}
.nav__link--header-home-active{
    margin-left: 0;
}
.nav__link--header-home{
    margin-left: 21px;
}

.header__nav-menu--home{
    padding: 30px 3px 28px 8px;
}
.header__wrapper--home{
    margin-top: 25px;
    padding: 19px 19px 26px 30px;
}
.header__input{
    margin: 0;
    display: block;
    width: 168px;
}

}

@media screen and (max-width: 700px){

    .header__hamburger{
        display: block;
    }
    
    .header__nav{
        justify-content: flex-start;
        align-items: center;
      
    }
    .header__nav-menu--home{
        display: none;
    }

    .header__nav-menu{
        display: none;
    }
    .header__logo{
      
        text-align: center;
    }
    
}

@media screen and (max-width: 535px){
    .title--home{
        font-size: 25px;
        line-height: 32px;
    }
}

@media screen and (max-width: 420px){

.header{
    height: 300px;
   
}
.header__wrapper{
    margin-top: 50px;
}
}